<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TwilioSID" value="ACa2de2b9a03db42ee981073b917cc8132" xdt:Transform="Insert"/>
    <add key="TwilioToken" value="921a664399748302a019ee35c40e888c" xdt:Transform="Insert"/>
  </appSettings>
</configuration>