@{
    ViewBag.Title = "Bank of Griff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row page-header">
    <h1>Bank of Griff</h1>
</div>
<div class="row">
    <div class="span3">
        <h1>Number of Active Calls</h1>
        <h2 id="numberActiveCalls">0</h2>
    </div>
    <div class="span3">
        <h1>Number of Inactive Calls</h1>
        <h2 id="numberInactiveCalls">0</h2>
    </div>
    <div class="span3">
        <h1>Average Call Duration</h1>
        <h2 id="averageCallDuration">0 seconds</h2>
    </div>
</div>

<script type="text/javascript" src="SignalR/Hubs"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var dashboard = $.connection.dashboardHub;

        dashboard.updateActiveCalls = function (callList) {
            $("#numberActiveCalls").text(callList.length);
        };

        dashboard.updateInactiveCalls = function (callList) {
            $("#numberInactiveCalls").text(callList.length);
        };

        dashboard.updateAverageCallDuration = function (seconds) {
            $("#averageCallDuration").text(seconds + " seconds");
        };

        $.connection.hub.start();
    });
</script>